@model Ali_ECommerce.Models.UserBuyerDto

@{
    ViewBag.Title = "View";
}


<a href="/UserBuyer/List">Go back to list</a>
<h2>@Model.UserBuyerName</h2>
<div>Merchandise Product: @Model.MerchantBusiness</div>
