@@model IEnumerable<Ali_ECommerce.Models.UserBuyerDto>

    @{
        ViewBag.Title = "List";
    }

    <h2>List</h2>
    <a href="/UserBuyer/Create">Add New UserBuyer</a>

    @foreach (var userBuyer in Model)
    {
        <h2><a href="/UserBuyer/Details/@userBuyer.UserBuyerID">@userBuyer.UserBuyerName</a></h2>
        <div>Merchandise Product: @userBuyer.MerchantBusiness</div>
        <br />
    }
