@{
    ViewBag.Title = "Create";
}

<h2>Create UserBuyer</h2>
<form action="/UserBuyer/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="UserBuyerName" />
    </div>
    <div>
        <label>Merchandise Product:</label> <input type="text" name="MerchantBusiness" />
    </div>
    <div>
        <input type="submit" value="Add UserBuyer" />

    </div>
</form>
